html {
     background: #cbccc8;
}
body {
    background-repeat: no-repeat;
    background: #cbccc8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8));
    background: -moz-linear-gradient(top, #fff, #cbccc8);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbccc8');
}

#header{
    font-size: 30px;
    font-style: Arial;
    color: blue;
    font-weight: bold;
}

.secondaryHeader{
    font-size: 20px;
    font-style: Arial;
    font-weight: bold;
}

.innerTag{
    font-size: 16px;
    font-weight: normal;
}

ol { counter-reset: item }
ol li{ display: block }
ol li:before { content: counters(item, ".") " "; counter-increment: item }

ol li{
    font-size: 18px;
    font-style: Arial;
}

a{
    text-decoration: none;
}